@import "colors";
@import "mixins";
@import "placeholders";


.btn-wrapper {
  @extend %uppercase;
  @extend %font14;
  @include round-border;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: $greenish-blue;
  border: 1px solid $greenish-blue;
  min-width: 100px;
  min-height: 35px;

  &:hover:not(.disabled) {
    transition: 0.6s;
    background-color: $greenish-blue;
    color: $white;
  }

  &.disabled {
    cursor: not-allowed;
  }
}
